<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>

<div class="bg-blue-500 text-white p-4 rounded">
  <h1 class="text-2xl font-bold">Hello Tailwind!</h1>
</div>